body{
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 100px;
    grid-gap: 5px;
    padding-left: 150px;
    padding-right: 150px;
    align-content: center;
    justify-content: center;
}

.day, .weekend {
    border: 1px solid rgb(37, 37, 226);
    box-sizing: content-box;
    text-align: center;
    cursor: pointer;
    padding: 15px;
}

.dayname {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

#monthandyear {
    text-align: center;
    font-size: large;
    width: max-content;
    margin: auto;
}

#navbar {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    align-items: center;
    padding-top: 10px;
}

#leftbtn p {
    font-size: large;
    float: right;
    cursor: pointer;
}

#rightbtn p{
    font-size: large;
    float: left;
    cursor: pointer;
}

.weekend {
    color: rgb(93, 126, 189);
}

.selection {
    background-color:  rgb(37, 37, 226);
}

#details {
    text-align: center;
}

#selected {
    padding-top: 15px;
    text-align: center;
}

.btn, .entryfield {
    text-align: center;
    padding: 15px;
    visibility: hidden;
}

.event {
    padding: 10px;
}